<!DOCTYPE html>
<html>
  <head>
  <style>
  footer 
  {
   position: absolute;
    width: 97.54%;;
    height:8%;
   background: #ededed;
       bottom: -1%;
  }

  .nav-session
  {
  position:relative;
  left:240%;


  }

  .nav-session-end
  {
  position:relative;
  left:325%;
  }
  body
{
  padding:0;
  margin:0;


}
.navFirst
{
position:relative;
left:100px;



}
  </style>
  <title>One Month Rails Project
  </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:inline-block">
    <%= link_to "One Month Rails", root_path, class: "navbar-brand",style:'position:relative;left:7%;' %>  
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor01" >
        <ul class="navbar-nav mr-auto">
          <div class="navFirst navbar-nav mr-auto" >
            <li class="nav-item ">
              <a class="nav-link" href="<%=root_path%>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact", contact_path, class: "nav-link" %>
            </li>
          </div>
          
            <%if user_signed_in?%>  
              <div class="nav-session-end navbar-nav mr-auto" >
                <li class="nav-item ">
                  <%= link_to "Log out", logout_path , method: :delete, class: "nav-link" %>
                </li>
              </div> 
            <%else%>
              <div class="nav-session navbar-nav mr-auto" >  
                <li class="nav-item">
                
                  <%= link_to "Sign in", signin_path , class: "nav-link" %>
                  </li>
                <li class="nav-item">
                  <%= link_to "Sign up", signup_path, class: "nav-link" %>

                </li>
                </div> 
            <%end%>
          
          
            </ul>
        
        
      </div>    
    </nav>
    <!--Flash Messages -->
    <% flash.each do |name,message| %>
    <%= content_tag(:div , message , class:"alert alert-info #{name}" ) %>
    <%end%>
    
    <!-- Page Content -->
    <!-- Footer -->
   
 
    <%= yield %>
    
      <footer  class=" small text-muted" >
      <div class="container">
        <hr>
        <center>
          <p>© 2019 One Month</p>
        </center>
      </div>
    </footer>

  </body>
  <%$pageUrl=request.original_fullpath%>
<%$file="app/views/pages/"%>
  <%
  case $pageUrl
  when "/about"
  $file+="about";
  when "/contact"
    $file+="Contact"

    
   
  when "/signup" 
    $file="app/views/devise/registrations/new";
  else
    $file+="home";
    $pageUrl="/"
   
  end
    %>
  
<script>
<%if user_signed_in?%>
<% $netizen =current_user[:email]%>
alert("user = <%=$netizen%>");

<%end%>

x=location.pathname;
if(x!="/signin")
{  
y="app/views/pages/" ;

  switch(x)
  {
  
  
  case "/about" :
  y+="about" ;
  
  
    break;
    
  case "/contact" :
  y+="Contact" ;

  
    break;
    
  case "/signup" : //sign_up page
  y="app/views/devise/registrations/new" ;

  
    break;
    
  default://sign_in or home page
  y+="home";
  

  }
 
  
  //alert("location file = <%=$file%> , \n & y = "+y+"\n & $pageUrl = <%=$pageUrl%>");
}
</script>
  </html>
